<head>
    <script src="https://kit.fontawesome.com/7ee11bdcfb.js" crossorigin="anonymous"></script>
</head>

<html>
{% include head.html %}
<!-- custom header. Design specified in _sass/custom.scss -->
{% include header.html %}

<div class ="main-image">
    <a><img src="{{ site.baseurl }}/assets/img/HEADER_DashKon_ohne Schrift_Neu.png"></a>
</div>


<div id="main-content" class="container" role="main">
    {% if site.frontpage_introduction_banner %}
        <div class="site-intro">
            <h1 style="font-weight: 700;">{{ site.frontpage_introduction_banner.title | t }}</h1>
            <div class="lead-copy"><p> {{ site.frontpage_introduction_banner.description | t }}</p></div>
        </div>
    {% endif %}

    {% if site.frontpage_goals_grid %}
    <div class="frontpage-goals-grid">

        {% if site.frontpage_goals_grid.title %}
        <h2 class="frontpage-goals-grid-title" style="font-size: 32px; font-weight: 700;">{{ site.frontpage_goals_grid.title | t }}</h2>
        {% endif %}

        {% if site.frontpage_goals_grid.description %}
        <div class="frontpage-goals-grid-description"  style="font-size: 22px;">{{ site.frontpage_goals_grid.description | t | markdownify }}</div>
        {% endif %}

        {% include components/goal-tiles.html %}
    </div>
    {% endif %}

</div>


<!-- Handlungsfelder - title -->
<div style="background-color:#efeeeb;">
    <div class="container" style="margin-top: 3rem; padding-top: 3rem; padding-bottom: 1rem;">
        <!-- <hr style="border: 1px solid black; margin-top: 5rem;"> -->
        <h2 class="frontpage-goals-grid-title" style="font-size: 32px; font-weight: 700;">{{ site.frontpage_handlungsfelder_title.hf-title| t }}</h2>
        <div class="frontpage-goals-grid-description"  style="font-size: 22px;">{{ site.frontpage_handlungsfelder_title.hf-subtitle | t }}</div>
    </div>
    
    <!-- Handlungsfelder - expandable tabs -->
    <div class="tab container" style="margin-top:1rem;">
        <div class="row g-0 align-items-center justify-content-start">
            <button class="tablinks active" id="tabbtn-1" onclick="openTab(event, 'frontpage-handlungsfelder-Wirtschaft')">
                <i class="fa fa-gear" style="font-size:  calc(10px + 0.75vw);"></i>
                <span class="tabs-text">Wirtschaft</span>
            </button>
            <button class="tablinks" id="tabbtn-2" onclick="openTab(event, 'frontpage-handlungsfelder-Umwelt')">
                <i class='fas fa-solar-panel'style="font-size:  calc(10px + 0.75vw);"></i>
                <span class="tabs-text">Umwelt</span>
            </button>
            <button class="tablinks" id="tabbtn-3" onclick="openTab(event, 'frontpage-handlungsfelder-Leben')">
                <i class="fa fa-tree" style="font-size:  calc(10px + 0.75vw);"></i>
                <span class="tabs-text">Leben</span>
            </button>
            <button class="tablinks" id="tabbtn-4" onclick="openTab(event, 'frontpage-handlungsfelder-Vielfalt')">
                <i class="fa fa-globe" style="font-size:  calc(10px + 0.75vw);"></i>
                <span class="tabs-text">Vielfalt</span>
            </button>
            <button class="tablinks" id="tabbtn-5" onclick="openTab(event, 'frontpage-handlungsfelder-Bildung')">            
                <i class="fa fa-pencil" style="font-size:  calc(10px + 0.75vw);"></i>
                <span class="tabs-text">Bildung</span>
            </button>
        </div>
    </div>
</div>

{% if site.frontpage_handlungsfelder %}
{% for thema in site.frontpage_handlungsfelder %}
<div class ="wide-background tabcontent" id="frontpage-handlungsfelder-{{ thema.title }}"  style="background-color: {{ thema.hf-color }};">
    <!-- import contents of Handlungsfelder from _config.yml -->
    {% include components/thema.html thema=thema %}
</div>
{% endfor %}
{% endif %}


<!-- cards (imported from separate file) -->
{% if site.frontpage_cards %}
<div class="container">
    <div class="row g-0 frontpage-card">
        {% include components/card.html card=card %}
    </div>
</div>
{% endif %}

<!-- footer incl. binder logos -->
{% include footer.html %}
</html>

<!-- onclick expand tab for Handlungsfelder -->
<script>
    function openTab(evt, hf_id) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(hf_id).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
